version: '3.8'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.9.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - elastic_data:/usr/share/elasticsearch/data
    networks:
      - elastic_network
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9200/_cluster/health | grep -vq '\"status\":\"red\"'"]
      interval: 10s
      timeout: 5s
      retries: 5

  # --- Serviço 1: API de Logs (Flask) ---
  api_logs:
    build: ./backend/api_logs  # Mudamos de ./backend para ./api_logs
    container_name: api_logs
    ports:
      - "5000:5000"
    networks:
      - elastic_network
    depends_on:
      elasticsearch:
        condition: service_healthy


  # --- NOVO SERVIÇO: MongoDB Local ---
  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"  # Permite acessar o banco via Compass/Script local
    volumes:
      - mongo_data:/data/db
    networks:
      - elastic_network
  
  # --- Serviço 2: API de Gestão (FastAPI) ---
  # Agora gerenciado pelo Docker!
  api_gestao:
    build: ./backend/api_gestao
    container_name: api_gestao
    ports:
      - "8000:8000"
    volumes:
      - ./backend/api_gestao:/app
    networks:
      - elastic_network
    # Não precisa de depends_on elasticsearch pois usa SQLite, mas se no futuro usar Mongo, adicione aqui.
    # O futuro chegou!!
    depends_on:
      - mongo  # Agora espera o Mongo iniciar
    environment:
      - MONGODB_URL=mongodb://mongo:27017/argos_db
      - SECRET_KEY=sua_chave_super_secreta_aqui
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=30

  gerador_logs:
    build: ./gerador
    container_name: gerador_logs
    networks:
      - elastic_network
    volumes:
      - logs_volume:/var/log/
    ports:
      - "5140:5140/tcp"
      - "5140:5140/udp"
    command: ["python", "-u", "gerador.py", "--tcp-port", "5140", "--udp-port", "5140"]

  filebeat:
    image: docker.elastic.co/beats/filebeat:8.9.0
    container_name: filebeat
    user: root
    networks:
      - elastic_network
    depends_on:
      elasticsearch:
        condition: service_healthy
    volumes:
      - ./filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - logs_volume:/var/log/:ro
    command: filebeat -e -strict.perms=false

      
  analisador:
    build: ./analisador
    container_name: analisador
    networks:
      - elastic_network
    depends_on:
      elasticsearch:
        condition: service_healthy

volumes:
  elastic_data:
  logs_volume:
  mongo_data:

networks:
  elastic_network: